<nav>
    <h1>Fuck Nunjucks. All my homies hate Nunjucks.</h1>
    <ul>
        {% for item in navigation.items %}
            <li>
                <a href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>